 <header class="intro-header" style="background-image: url('/images/img/home.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Беларускі франтэнд</h1>
                        <hr class="small">
                        <h2 class="subheading">Ды іншая трасца</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
