.alfa {
    position: relative;
    height: 45px;
    top: -45px;
    width: 100%;
    background-image: var(--gradient-bg-fade);
}
.link {
}
.deactivatedLink {
    color: var(--color-text-secondary);
    &:hover {
        color: var(--color-text);
    }
}
.episode__title {
    margin-bottom: 1.25rem;
}
