.contentWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 500px;
}

.img {
    display: block;
    width: 80%;
    height: 80%;
    max-width: 450px;
    max-height: 450px;
}

.text {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;

    &:first-of-type {
        margin-top: 50px;
        margin-bottom: 0;
    }

    &:last-of-type {
        margin-bottom: 50px;
    }
}

.link {
    display: block;
}