.likeContainer {
    justify-content: flex-end;
    display: flex;
    position: sticky;
    top: calc(100vh - 54px);

    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
    }
}

.editButton {
    position: fixed;
    right: 5vw;
    top: calc(100vh - 56px);
}

.tag {
    display: inline-block;
    padding: 15px 10px;

    font-style: italic;
}
