.likeContainer {
    justify-content: flex-end;
    display: flex;
    position: sticky;
    top: calc(100vh - 50px);
    @media screen and (min-width: 600px) {
        margin-right: -328px;
    }
    @media screen and (max-width: 600px) {
        justify-content: flex-start;
        // margin-left: 48px;
    }
}
.likeButton {
    // margin-right: 48px;
}
.editButton {
    // position: fixed;
    // right: 5vw;
    // top: 95vh;
}
