body {
  font-family: Lato;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
}
h2 {
  font-weight: 400;
}

.layout {
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  background-color: rgba(191, 191, 191, 0.1);
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 32px 32px !important;
}
