.arrowUp {
    width: 0;
    height: 0;
    margin: auto;

    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    transition: all 250ms linear;
}
