---
eleventyComputed:
    title: "{% if pagination.pageNumber > 0 %}Старонка {{ pagination.pageNumber + 1 }}{% else %}Беларускамоўны блог пра IT{% endif %}"
layout: page.njk
permalink: "{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
pagination:
    data: collections.episode
    size: 10
    reverse: true
---





{% include 'header.njk' %}
{% include 'aside.njk' %}

<div class="container">
    <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <main class="page__main main">
                <div class="main__intro box">
                    <div class="content">
                        {% markdown %}
                        {%- include 'links.md' -%}
                        {% endmarkdown %}
                    </div>
                </div>
                <a class="telegram box box--compact" href="https://t.me/bel_frontend">
                    Далучайцеся да нашага тэлеграмканалу
                </a>
                {%- for episode in pagination.items -%}
                    <article class="episode box" id="e{{ episode.data.number }}">
                        <div class='article'>
                            <h2 class="episode__title">
                                <a class="episode__link" href="{{ episode.url }}">
                                    {{ episode.data.number }}.
                                    {{ episode.data.title }}
                                </a>
                            </h2>
                            <div class="content">
                                {{ episode.templateContent | safe }}
                            </div>
                            </div>
                            <div class="alfa"></div>
                        <a href="{{ episode.url }}" class="link">Чытаць</a>
                        {# <button class='like' artickle_id="{{ episode.data.number }}">Падабаецца</button> #}
                        {# <div class="count_likes" artickle_id="{{ episode.data.number }}">0</div> #}

                        <div>
                            <span class='author'>{{ episode.data.author }}</span>,
                            <span class='date-article'> {{ episode.data.dateArticle}}</span>
                        </div>
                    </article>
                {%- endfor -%}
              <div class='pagination_container'>Старонка: {% include 'pages.njk' %}<div>
            </main>
        </div>
    </div>
</div>
{% include 'footer.njk' %}