.likeContainer {
    justify-content: flex-end;
    display: flex;
    position: sticky;
    top: calc(100vh - 54px);

    // @media screen and (max-width: 1200px) {
    //     justify-content: flex-start;
    // }
}
.editButton {
    // position: fixed;
    // right: 5vw;
    // top: calc(100vh - 56px);
}
.MD_view {
    max-width: 100vw;
    word-wrap: break-word;
    white-space: normal;
}
