.wrapper {
    min-width: 300px;
    max-width: 450px;
    width: 70vw;
    padding: 20px;

    border-radius: 12px;
    background-color: var(--color-bg-paper);
    color: var(--color-text);
    box-shadow: var(--shadow-card);
}

.cookieContainer {
    display: flex;
}

.linkContainer {
    color: var(--color-link);
    cursor: pointer;

    &:focus,
    &:hover {
        color: var(--color-link-hover);
    }
}

.button {
    margin-top: 10px;
}
