--- 
layout: page.njk 
---

{% include 'header.njk' %}
{% include 'aside.njk' %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <main class="page__main main">
                <article class="episode box">
                    <h1 class="episode__title">
                        {{ number }}.
                        {{ title }}
                    </h1>
                    <div class="content">
                        {{ content | safe }}
                    </div>
                    <div>
                        <span class='author'>{{ episode.data.author }}</span>,
                        <span class='date-article'> {{ episode.data.dateArticle}}</span>
                    </div>
                </article>
            </main>
         </div>
    </div>
</div>

{% include 'footer.njk' %}