<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <meta charset="utf-8">
    <title>
        {{ title }}{% if page.url != '/' %} — BEL.{% endif %}
    </title>

    <meta name="description" content="Беларускамоўны блог пра IT">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Беларускамоўны блог пра IT">
    <meta property="og:site_name" content="Беларускамоўны блог пра IT">
    <meta property="og:url" content="bel-frontend.github.io">

    <meta name="twitter:title" content="Беларускамоўны блог пра IT">
    <meta name="twitter:description" content="Беларускамоўны блог пра IT">
    <meta name="twitter:site" content="bel-frontend.github.io">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da5">



    <link rel="preload" href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/styles.css">

    <script src="/scripts/scripts.js" defer></script>
</head>
<body class="page__body">
    {{ content | safe }}
</body>
</html>
